.About-container {
  display: flex;
  flex-direction: row;
  gap: 330px;
  margin-top: 30px;
}

.about-heading {
  margin-left: 50px;
}

.download-btn{
    width: 150px;
  padding: 10px;
  background-color:#222;
  color: white;
  border: 1px solid #9d00ff;
  border-radius: 100px;
}

.about-section-container {
  display: flex;
  flex-direction: column;
}

.about-me-button {
  width: 150px;
  padding: 10px;
  background-color: black;
  color: white;
  border: 1px solid #9d00ff;
  border-radius: 100px;
  margin-bottom:200px;
}

#about-me-button:hover {
  background-color: #9d00ff;
  border: 1px solid black;
  transform: scale(1.02);
  transform: translateY(-6px) scale(1.02);
}


/*Contact Styling*/
.contact-container{
    display:flex;
    flex-direction: row;
    margin-top:50px;
}

.title-container{
    display:flex;
    flex-direction: column;
    margin-left:40px;
}

.input-container{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left:400px;
  margin-bottom:200px;
  gap:10px;
}

input{
    width:300px;
    height:30px;
    background-color: #222;
    border:none;
    border-radius:2px;
}

label{
    color:rgba(255, 255, 255, 0.546);
}

.submit-btn{
    width: 100px;
  padding: 10px;
  background-color: black;
  color: white;
  border: 1px solid #9d00ff;
  border-radius: 100px;
  margin-top:20px;

}

a{
    color:#9d00ff;
}

/* Modal Styling*/

/* Overlay */
.modal-container {
  display: none; /* hidden by default */
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  align-items: center;
  justify-content: center;
}

/* Show modal */
.modal-container.active {
  display: flex;
}

/* Modal content box */
.modal-content {
  background:#222;
  color:white;
  padding: 30px;
  border-radius: 12px;
  max-width: 700px;
  width: 90%;
  position: relative;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  animation: slideUp 0.4s ease;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
  font-weight: bold;
  color:rgba(255, 255, 255, 0.374);
}

/* Optional slide-up animation */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
