
/*=====
Header
========*/
.header-container {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
  height: 70px;
  margin: 0;
  color: #eaeaead6;
}

.name-header {
  margin-right:800px;
  margin-left: 50px;
}

.attachments {
  margin-top: 20px;
}

.About-heading {
  margin-right: 10px;
}

.Work-heading {
  margin-right: 10px;
}
h2.name-header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

body {
  background-color: black;
  color: rgba(245, 245, 245, 0.9);
}

.heading-1 {
  margin-left: 50px;
  font-family: "Roboto Mono", monospace;
  margin-top: 50px;
}

/*=====
Body
======*/

.brief {
  font-size: 14px;
  margin-left: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font: weight 4px;
  position: relative;
  bottom: 20px;
}

.contact-button {
  background-color: #9d00ff;
  color: rgba(245, 245, 245, 0.872);
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin-left: 46px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.linkedin {
  border: none;
  padding: 2px;
  background-color: rgba(128, 128, 128, 0.242);
  color: #9d00ff;
  border-radius: 20px;
  padding: 10px;
  position: relative;
  top: 12px;
}
.github {
  background-color: rgba(128, 128, 128, 0.242);
  color: #9d00ff;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  top: 11px;
}

.podcast-screenshot{
  border-radius: 20px;
  margin-left:50px;
  margin-top:50px;
  height:200px;
  width:300px;
  position:relative;
  bottom:20px;
  right:25px;
  
}

.projects-heading{
    margin-left:50px;
    margin-top: 30px;
    font-family:"Roboto Mono", monospace;
}

button.image-button{
    border-radius: 5px;
    background-color:rgba(128, 128, 128, 0.242) ;
    border:none;
    margin-left:50px;
}

.podcast-text{
    color:rgba(255, 255, 255, 0.801);
    background-color: #9d00ff;
    width:80px;
    padding:10px;
    border-radius: 20px;

}

button.image-button-2{
  border-radius: 5px;
    background-color:rgba(128, 128, 128, 0.242) ;
    border:none;
    margin-left:50px;
    padding:10px;
}

.images-container{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap:100px;
}

.top-text{
  margin-left:50px;
}

.desc-text{
  color:rgba(255, 255, 255, 0.801);
  margin-left:50px;
}

.top-container{
  display: flex;
  flex-direction: row;
}

.desc-container{
  display: flex;
  flex-direction: column;
}

.desc-text-2{
  margin-left:50px;
}

.project-info{
  margin-left:50px;
}

.line-2{
  margin-left:50px;
  width:520px;
}

.year{
  margin-left:50px;
}

.line-1{
  width:100%;
}

.year-container{
  display:flex;
  flex-direction: row;
}

.year-numbers{
  margin-left:400px;
}

.role{
  margin-left:50px;
}

.role-container{
  display:flex;
  flex-direction: row;
}

.role-desc{
  margin-left:350px;
}

.demo-link{
  color:#9d00ff;
  margin-top:5px;
  margin-left:50px;
}
.link{
  color:#9d00ff;
  margin-left:50px;
  margin-top:5px;

}

.link-container{
  display:flex;
  flex-direction: row;
}

#link-logo{
  margin-top: 5px;
  margin-left:2px;
}

.screenshot-container{
  display:flex;
  flex-direction: row;
}